<h3>Form Settings</h3>
<%= f.input :name, as: :cms_text_field %>
<%= f.input :description %>
<%= hidden_field_tag "field_ids", @block.field_ids %>

<h3> Preview</h3>
<div id="form-preview">
  <% if @block.new_record? %>
      <div id="no-field-instructions">
        No fields yet! This <b>live preview</b> of your form will show you fields as you add them. Choose a field type
        below.
      </div>
  <% end %>
  <%= f.simple_fields_for :new_entry do |e| %>
      <% @block.fields.each do |field| %>
          <%= e.input field.name, label: field.label,
                      disabled: true, readonly: 'readonly',
                      wrapper: :append do
            h = e.input_field field.name
            h << link_to("Edit", "#", data: {field_ref: "", edit_path: edit_form_field_path(field.id)}, class: "btn edit_form_button")
            h
          end %>
      <% end %>
  <% end %>

</div>
<span id="new-form-fields" style="display: none">
  <h4>Sample Fields</h4>
  <%= f.input :sample_field, label: "Untitled", input_html: {data: {field_type: "text_field"}}, disabled: true, readonly: 'readonly', wrapper: :append do
    h = f.input_field :sample_field
    h << link_to("Edit", "#", data: {field_ref: "", edit_path: new_form_field_path}, class: "btn edit_form_button")
    h
  end %>
</span>
<%= f.input :new_field,
            label: "Add New Field",
            prompt: "Select a field type:",
            collection: [["Text Field", :text_field], ["Text Box", :text_area]],
            input_html: {class: 'add-new-field'}
%>

<%# Can't have a form inside a form, so this must go into the head. %>
<%= content_for :html_head do %>
    <div id="modal-edit-field" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="model_label" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="model_label">Edit Field</h3>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" href="#" id="create_field" data-dismiss="modal">Save</a>
        <a aria-hidden="true" class="btn" data-dismiss="modal" href="#">Never Mind</a>
      </div>
    </div>
<% end %>

